.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}

.timeline-project-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.timeline-link {
    background-color: #f9ccf8;
    color: #000;
    padding: 0.5rem 1rem;
    border: 2px solid #e8b2ef;
    text-decoration: none;
    border-radius: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    &:hover {
        background-color: #f5f5f5;
        color: black;
        border-color: #f5f5f5;
    }
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}
